---
interface Stat {
    value: string;
    label: string;
}

interface Props {
    stats: Stat[];
}

const { stats } = Astro.props;
---

<section class="py-12 px-6 bg-primary border-b">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            {
                stats.map((stat) => (
                    <div>
                        <div class="text-4xl font-heading font-bold text-accent mb-2">
                            {stat.value}
                        </div>
                        <div class="text-base text-white font-heading font-bold uppercase">
                            {stat.label}
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
